.logo-container {
  display: grid;
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
  border-bottom: 2px solid rgb(155, 155, 155);
}

.body {
  background-color: #47484a;
  background-image: linear-gradient(#4e7ac7, #16193b);
  padding: 20px;
  border-radius: 20px;
  line-height: 1.5;
}

img {
  margin: auto;
  width: auto;
  height: auto;
}

iframe {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 5px 5px 2px 1px rgba(9, 9, 9, 0.139);
}

.green {
  color: rgb(4, 165, 4);
}

.component {
  display: grid;
  place-items: center;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(3, 32.5%);
  grid-template-rows: 100px;
  grid-gap: 20px;
  /* border: solid blue 3px; */
  justify-items: stretch;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 49.4%);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
  justify-items: stretch;
  /* border: solid black 3px; */
}

.grid-item {
  display: grid;
  /* border: dotted red 2px; */
  background-color: #add5f7;
  border-radius: 20px;
  place-items: center;
  border: solid rgb(255, 255, 255) 1px;
  box-shadow: 5px 5px 2px 1px rgba(9, 9, 9, 0.139);
}

/* .grid-brokers {
  grid-area: header1;
}
.grid-topics {
  grid-area: header2;
}
.grid-zookeeper {
  grid-area: header3;
} */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: linear-gradient(rgb(169, 169, 223), rgb(9, 1, 28));
}
.app-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
  margin: 0;

  background-image: linear-gradient(rgb(169, 169, 223), rgb(9, 1, 28));
}
a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: bold;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  height: 5px;
  margin-top: -2px;
  margin-left: 18px;
  font-size: large;
}

button {
  top: 40px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: black;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid black;
  border-radius: 50px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
}

button:hover {
  border: 2px solid #071982;
  color: #80ffd3 !important;
}
button::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #071982;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

button:after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #80ffd3;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.btn10:hover::before,
.btn1O:hover::before {
  opacity: 1;
  width: 116%;
}
.btn10:hover::after,
.btn1O:hover::after {
  opacity: 1;
  width: 120%;
}
