.logo-container {
  display: grid;

  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px 0px 10px 0px;
}

.body {
  background-color: #47484a;
  background-image: linear-gradient(rgb(145, 144, 144), #47484a);
  padding: 20px;
  border-radius: 20px;
}

img {
  margin: auto;
  width: auto;
  height: auto;
}

.iframe {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.topics {
  display: grid;
  place-items: center;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(3, 32.5%);
  grid-template-rows: 100px;
  grid-gap: 20px;
  /* border: solid blue 3px; */
  justify-items: stretch;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 49.4%);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
  justify-items: stretch;
  /* border: solid black 3px; */
}

.grid-item {
  display: grid;
  /* border: dotted red 2px; */
  background-color: rgb(184, 183, 183);
  border-radius: 20px;
}

/* .grid-brokers {
  grid-area: header1;
}
.grid-topics {
  grid-area: header2;
}
.grid-zookeeper {
  grid-area: header3;
} */
