.logo-container {
  display: grid;
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
  border-bottom: 2px solid rgb(155, 155, 155);
}

.body {
  background-color: #47484a;
  background-image: linear-gradient(#4E7AC7, #16193B);
  padding: 20px;
  border-radius: 20px;
}

img {
  margin: auto;
  width: auto;
  height: auto;
}

iframe {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 5px 5px 2px 1px rgba(9, 9, 9, 0.139);
}

.green {
  color: rgb(4, 165, 4)
}

.component {
  display: grid;
  place-items: center;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(3, 32.5%);
  grid-template-rows: 100px;
  grid-gap: 20px;
  /* border: solid blue 3px; */
  justify-items: stretch;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 49.4%);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
  justify-items: stretch;
  /* border: solid black 3px; */
}

.grid-item {
  display: grid;
  /* border: dotted red 2px; */
  background-color: #ADD5F7;
  border-radius: 20px;
  place-items: center;
  border: solid rgb(255, 255, 255) 1px;
  box-shadow: 5px 5px 2px 1px rgba(9, 9, 9, 0.139);
}

/* .grid-brokers {
  grid-area: header1;
}
.grid-topics {
  grid-area: header2;
}
.grid-zookeeper {
  grid-area: header3;
} */